nav {
  top: 0;
  padding: 3em;
  background-color: $background-color2;
  @include respond(small) {
    padding: 0;
  
}
  .logo {
    width: 75px;
  }

  .navbar-nav {
    margin: auto;

    >* {
      margin: 6px;
      padding: 0 10px;
    }
  }

  &.sticky {
    transition: all 1.4s ease;
    position: fixed;
    top: 0;
    // background-color: darken($background-color2, 10);
    width: 100%;
    z-index: 10;
    padding: 0;
    box-shadow: 0px 2px 4px rgba(119, 119, 119, 0.25);

  }

}