%btn {
    font-size: 1em;
    border-radius: $border-radius;
    padding: .6em 1.4em;
    width: 4em;
    margin: 5px;
    cursor: pointer;
    transition: all .6s ease;
}

.pry-btn {
    @extend %btn;   
    background-color: $dark-blue;
    color: $background-color;
    &:hover{
        background-color: $yellow;
        color: $dark-blue
    }
}

.action-btn {
    @extend %btn;
    border: 1px solid $yellow;
    color: $yellow;
    &:hover{
        border: 1px solid $dark-blue;
        color: $dark-blue;
    }
}


button {
    background: none;
    border: none;
}

a {
    font-weight: bold;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
a.hover {
    position: relative;
  
    &:after {
      content: '';
      display: block;
      margin: auto;
      height: 2px;
      width: 0px;
      background: transparent;
      transition: width .5s ease;
    }
  
    &:hover:after {
      width: 100%;
      background: $yellow;
    }
  }
  #navbarDropdownMenuLink::after {
    content: none;
  }