.hero {
  padding: 4em;
  display: flex;
  position: relative;
  background-color: $background-color2;

  @include respond(medium) {
    flex-direction: column;
    padding: 10px;
  }

  >* {
    width: 50%;
    margin-top: 2em;

    @include respond(medium) {
      width: 100%;
      padding: 0;
      margin: 0;
    }
  }

  &__text {
    margin: auto;

    .carousel-inner {
      width: 80%;
      margin: auto;

      @include respond(small) {
        width: 100%;
      }
    }

    a {
      margin-top: 2em;
    }
  }

  &__png2 {
    position: absolute;
    width: 375px;
    left: 46px;
    // top: 579px;
    bottom: 0;

    @include respond(medium) {
      display: none;
    }
  }

  &__png1 {
    position: absolute;
    width: 375px;
    right: 0;
    top: 271.31px;

    @include respond(medium) {
      display: none;
    }
  }

  &__slider {
    @include respond(small) {
      display: none;
    }

    .carousel-inner {
      padding: 3em;
    }

    img {
      height: 403px;
      width: 358px;
      border-radius: $border-radius-img;
      object-fit: cover;
    }
  }
}